<html>
  <head><title>Dashboard</title></head>
  <body>
  	<h1>
       Welcome <%= name%>
    </h1>

    <h2>
    	<a href="/profile">Profile</a>
    	<br>
    	<a href="/home">Change Password</a>
    	<br>
    	<a href="/pay">Pay</a>
        <br>
        <a href="/passbook">Passbook</a>
    	<br>
        <a href="/home">Deposit Money</a>

</h2>
  </body>
  <form action="logout" method="POST"> 
<input type="submit" value="Logout">
</html>